# ========= NER Model Configuration =========
NER_MODEL="gravitee-io/bert-small-pii-detection"
NER_MIN_SCORE=0.5
NER_WINDOW_TOKENS=384
NER_OVERLAP_TOKENS=32

# ======== Predefined List Configuration =========
DESIRED_PREDEFINED_LIST="desired-predefined-list.json"
UNDESIRED_PREDEFINED_LIST="undesired-predefined-list.json"
