[submodule "01-python-gliner-spacy-gateway"]
	path = 01-python-gliner-spacy-gateway
	url = ./
	branch = 01-python-gliner-spacy-gateway
[submodule "02-ts-lists-transformersjs-ner"]
	path = 02-ts-lists-transformersjs-ner
	url = ./
	branch = 02-ts-lists-transformersjs-ner
[submodule "03-ts-winknlp-regex-rules-poc"]
	path = 03-ts-winknlp-regex-rules-poc
	url = ./
	branch = 03-ts-winknlp-regex-rules-poc
[submodule "04-ts-multilayer-lists-regex-ner-winknlp"]
	path = 04-ts-multilayer-lists-regex-ner-winknlp
	url = ./
	branch = 04-ts-multilayer-lists-regex-ner-winknlp
[submodule "05-python-presidio-bert-qwen-gateway"]
	path = 05-python-presidio-bert-qwen-gateway
	url = ./
	branch = 05-python-presidio-bert-qwen-gateway
[submodule "06-ts-winknlp-lite"]
	path = 06-ts-winknlp-lite
	url = ./
	branch = 06-ts-winknlp-lite
